<div class="locations-container">
  <div *ngFor="let country of countries" class="country-block">
    <div class="country-header">
      <span class="entity-name">{{ country.nombre }}</span>
      <div class="country-actions">
        <button mat-icon-button color="primary" (click)="editCountry(country)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteCountry(country.paisId)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button color="primary" (click)="addDepartment(country.paisId)">
          <mat-icon>add</mat-icon> Departamento
        </button>
      </div>
    </div>

    <div class="departments-container">
      <div *ngFor="let dept of country.departamentos" class="department-block">
        <div class="department-header">
          <span class="entity-name">{{ dept.nombre }}</span>
          <div class="department-actions">
            <button mat-icon-button color="primary" (click)="editDepartment(dept)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteDepartment(dept.departamentoId)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button color="primary" (click)="addCity(dept.departamentoId)">
              <mat-icon>add</mat-icon> Ciudad
            </button>
          </div>
        </div>

        <div class="cities-container">
          <div *ngFor="let city of dept.ciudades" class="city-block">
            <span>{{ city.nombre }}</span>
            <button mat-icon-button color="primary" (click)="editCity(city)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCity(city.ciudadId)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add-country-button">
    <button mat-raised-button color="primary" (click)="addCountry()">
      <mat-icon>add</mat-icon> Agregar País
    </button>
  </div>
</div>
